<app-add-task
	*ngIf="isDisplayAddTaskComponent"
	(_addTask)="addTask($event)"
></app-add-task>

<app-sort-tasks
	*ngIf="!isDisplayAddTaskComponent"
	(_onSearchTasks)="onSearchTasks($event)"
	(_onToggle)="onToggleShowOnlyReminder($event)"
	(_onSelect)="onSelectOrderSorting($event)"
></app-sort-tasks>

<div class="tasks-container">
	<div *ngIf="!hasNoResults">
		<app-task-item
			*ngFor="let task of tasksToDisplay"
			[task]="task"
			(dblclick)="onToggleReminder($event, task)"
			(onDeleteTask)="deleteTask($event)"
		>
		</app-task-item>
	</div>

	<h2 *ngIf="hasNoResults" [ngStyle]="{ color: 'red', textAlign: 'center' }">
		No tasks Found
	</h2>
</div>
