<form (ngSubmit)="onSubmit($event)">
	<div class="form-input-text">
		<input
			type="text"
			placeholder="Write your task here"
			[(ngModel)]="text"
			[ngModelOptions]="{ standalone: true }"
		/>
	</div>

	<div class="form-input-checkbox">
		<label [ngStyle]="{ whiteSpace: 'nowrap', fontSize: '20px' }" for="reminder"
			>Add reminder ?</label
		>
		<input
			[ngStyle]="{ width: '20px', height: '20px' }"
			id="reminder"
			type="checkbox"
			[(ngModel)]="reminder"
			[ngModelOptions]="{ standalone: true }"
		/>
	</div>

	<app-button
		type="submit"
		text="Create Task"
		color="#2d6ebf"
		[isDisabled]="!text.trim()"
	></app-button>
</form>
